.list {
    display: none;
    height: auto;
    margin: 0;
    float: left;
}

.show {
    display: none;
}

.hide:target+.show {
    display: inline;
}

.hide:target {
    display: none;
}

.hide:target~.list {
    display: inline;
}

.list p {
    height: auto;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-gap: 10000px;
}
.card-body{
border-color: #ffff;
border-width: 23px;
margin: 0px;
flex: 1 1 auto;
padding: 1rem 1rem;

}
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,0.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
background-color: #2f7307;
color: #ffff;
}
.cardP {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color:#970904;
    color: #ffff;
    }
.cardNoEnc {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #D35400;
    color: #ffff;
}
.card-body{
	background-color: #f7fbfe;
}
    
.alert-danger {
    color: #842029;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.alert-success {
    color: #0f5132;
    background-color: #e9ecef;
    border-color: #f8f9fa;
}
.navbar {
    background-color: #D6EAF8;
    border: -1px solid #1f618da1;
	border-radius: 3px;
	box-shadow: #031b689e 3px 4px 0;
}
.navbar h5 {
    color: #1F618D;
    text-align: center;
}

@media only screen and (max-width: 700px){
	.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: center;
    }
        
   
	.cab img {
        margin-left: 100px;
    }
	

		
	
	
		
	
	
}